version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  build:
    jobs:
      - cypress/run:
          name: Mochawesome
          no-workspace: true
          store_artifacts: true
          post-steps:
            - run:
                name: generate combined report
                when: always
                command: |
                  npm run merge:reports
                  npm run generate:report
            - store_artifacts:
                path: mochawesome-report
            - store_test_results:
                path: test-results

      - cypress/run:
          name: JUnit
          command: npm run test:junit
          no-workspace: true
          store_artifacts: true
          post-steps:
            - store_test_results:
                path: results
